body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:1735px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:1735px;
}
#u5 {
  position:absolute;
  left:2px;
  top:860px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
