body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u10061 {
  position:absolute;
  left:30px;
  top:21px;
  width:422px;
  height:829px;
}
#u10062 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10063 {
  position:absolute;
  left:51px;
  top:88px;
  width:375px;
  height:667px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10065 {
  position:absolute;
  left:351px;
  top:102px;
  width:1px;
  height:16px;
}
#u10066 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u10067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u10067 {
  position:absolute;
  left:51px;
  top:128px;
  width:375px;
  height:627px;
  color:#CC99CC;
}
#u10068 {
  position:absolute;
  left:2px;
  top:306px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u10069 {
  position:absolute;
  left:85px;
  top:411px;
  width:300px;
  height:1px;
}
#u10070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u10074 {
  position:absolute;
  left:50px;
  top:88px;
  width:375px;
  height:20px;
}
#u10075 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u10076 {
  position:absolute;
  left:64px;
  top:120px;
  width:12px;
  height:20px;
}
#u10077 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10078 {
  position:absolute;
  left:227px;
  top:118px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10079 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u10080 {
  position:absolute;
  left:50px;
  top:88px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u10081 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10082 {
  position:absolute;
  left:383px;
  top:118px;
  width:31px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10083 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u10084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u10084 {
  position:absolute;
  left:50px;
  top:88px;
  width:375px;
  height:20px;
  color:#1E1E1E;
}
#u10085 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10086 {
  position:absolute;
  left:209px;
  top:118px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10087 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10088 {
  position:absolute;
  left:64px;
  top:112px;
  width:25px;
  height:28px;
  color:#FFFFFF;
}
#u10089 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10091 {
  position:absolute;
  left:50px;
  top:152px;
  width:375px;
  height:55px;
}
#u10092 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10093 {
  position:absolute;
  left:51px;
  top:153px;
  width:373px;
  height:53px;
}
#u10093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10094 {
  position:absolute;
  left:61px;
  top:229px;
  width:353px;
  height:40px;
  font-size:14px;
}
#u10095 {
  position:absolute;
  left:2px;
  top:12px;
  width:349px;
  word-wrap:break-word;
}
