body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u4380 {
  position:absolute;
  left:52px;
  top:66px;
  width:422px;
  height:829px;
}
#u4381 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u4382 {
  position:absolute;
  left:45px;
  top:18px;
  width:34px;
  height:45px;
}
#u4383 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u4384 {
  position:absolute;
  left:94px;
  top:18px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u4385 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4386 {
  position:absolute;
  left:373px;
  top:147px;
  width:1px;
  height:16px;
}
#u4387 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u4388 {
  position:absolute;
  left:73px;
  top:133px;
  width:375px;
  height:20px;
}
#u4389 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4390 {
  position:absolute;
  left:86px;
  top:157px;
  width:25px;
  height:24px;
  color:#FFFFFF;
}
#u4391 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4392 {
  position:absolute;
  left:83px;
  top:234px;
  width:111px;
  height:86px;
}
#u4393 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4394 {
  position:absolute;
  left:231px;
  top:204px;
  width:57px;
  height:19px;
}
#u4395 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u4396 {
  position:absolute;
  left:72px;
  top:133px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u4397 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u4398 {
  position:absolute;
  left:72px;
  top:133px;
  width:375px;
  height:20px;
}
#u4399 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4400 {
  position:absolute;
  left:228px;
  top:163px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4401 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4402 {
  position:absolute;
  left:204px;
  top:234px;
  width:111px;
  height:86px;
}
#u4403 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4404 {
  position:absolute;
  left:325px;
  top:234px;
  width:111px;
  height:86px;
}
#u4405 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4406 {
  position:absolute;
  left:86px;
  top:330px;
  width:111px;
  height:86px;
}
#u4407 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4408 {
  position:absolute;
  left:207px;
  top:330px;
  width:111px;
  height:86px;
}
#u4409 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4410 {
  position:absolute;
  left:236px;
  top:426px;
  width:57px;
  height:19px;
}
#u4411 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4412 {
  position:absolute;
  left:86px;
  top:453px;
  width:111px;
  height:86px;
}
#u4413 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4414 {
  position:absolute;
  left:207px;
  top:453px;
  width:111px;
  height:86px;
}
#u4415 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4416 {
  position:absolute;
  left:328px;
  top:453px;
  width:111px;
  height:86px;
}
#u4417 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4418 {
  position:absolute;
  left:89px;
  top:549px;
  width:111px;
  height:86px;
}
#u4419 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4420 {
  position:absolute;
  left:210px;
  top:549px;
  width:111px;
  height:86px;
}
#u4421 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4422 {
  position:absolute;
  left:331px;
  top:549px;
  width:111px;
  height:86px;
}
#u4423 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4424 {
  position:absolute;
  left:234px;
  top:651px;
  width:57px;
  height:19px;
}
#u4425 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4426 {
  position:absolute;
  left:84px;
  top:680px;
  width:111px;
  height:86px;
}
#u4427 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4428 {
  position:absolute;
  left:205px;
  top:680px;
  width:111px;
  height:86px;
}
#u4429 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:86px;
}
#u4430 {
  position:absolute;
  left:326px;
  top:680px;
  width:111px;
  height:86px;
}
#u4431 {
  position:absolute;
  left:2px;
  top:35px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4432 {
  position:absolute;
  left:77px;
  top:152px;
  width:25px;
  height:24px;
  color:#FFFFFF;
}
#u4433 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4434 {
  position:absolute;
  left:500px;
  top:171px;
  width:0px;
  height:0px;
}
#u4434_seg0 {
  position:absolute;
  left:-215px;
  top:-4px;
  width:219px;
  height:8px;
}
#u4435 {
  position:absolute;
  left:-158px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4436 {
  position:absolute;
  left:499px;
  top:212px;
  width:0px;
  height:0px;
}
#u4436_seg0 {
  position:absolute;
  left:-203px;
  top:-4px;
  width:203px;
  height:8px;
}
#u4436_seg1 {
  position:absolute;
  left:-203px;
  top:-4px;
  width:8px;
  height:10px;
}
#u4436_seg2 {
  position:absolute;
  left:-211px;
  top:-2px;
  width:16px;
  height:8px;
}
#u4437 {
  position:absolute;
  left:-156px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4438 {
  position:absolute;
  left:497px;
  top:277px;
  width:0px;
  height:0px;
}
#u4438_seg0 {
  position:absolute;
  left:-61px;
  top:-4px;
  width:65px;
  height:8px;
}
#u4439 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4440 {
  position:absolute;
  left:499px;
  top:164px;
  width:15px;
  height:16px;
}
#u4441 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4442 {
  position:absolute;
  left:499px;
  top:204px;
  width:15px;
  height:16px;
}
#u4443 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4444 {
  position:absolute;
  left:497px;
  top:269px;
  width:15px;
  height:16px;
}
#u4445 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4446 {
  position:absolute;
  left:530px;
  top:144px;
  width:672px;
  height:164px;
}
#u4447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
}
#u4447 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
}
#u4448 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u4449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u4449 {
  position:absolute;
  left:57px;
  top:0px;
  width:109px;
  height:36px;
}
#u4450 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u4451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u4451 {
  position:absolute;
  left:166px;
  top:0px;
  width:92px;
  height:36px;
}
#u4452 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u4453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u4453 {
  position:absolute;
  left:258px;
  top:0px;
  width:180px;
  height:36px;
}
#u4454 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u4455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u4455 {
  position:absolute;
  left:438px;
  top:0px;
  width:173px;
  height:36px;
}
#u4456 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u4457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u4457 {
  position:absolute;
  left:611px;
  top:0px;
  width:56px;
  height:36px;
}
#u4458 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u4459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
}
#u4459 {
  position:absolute;
  left:0px;
  top:36px;
  width:57px;
  height:43px;
}
#u4460 {
  position:absolute;
  left:2px;
  top:14px;
  width:53px;
  word-wrap:break-word;
}
#u4461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:43px;
}
#u4461 {
  position:absolute;
  left:57px;
  top:36px;
  width:109px;
  height:43px;
  font-size:14px;
}
#u4462 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  word-wrap:break-word;
}
#u4463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u4463 {
  position:absolute;
  left:166px;
  top:36px;
  width:92px;
  height:43px;
}
#u4464 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u4465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:43px;
}
#u4465 {
  position:absolute;
  left:258px;
  top:36px;
  width:180px;
  height:43px;
}
#u4466 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u4467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:43px;
}
#u4467 {
  position:absolute;
  left:438px;
  top:36px;
  width:173px;
  height:43px;
  font-size:14px;
}
#u4468 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u4469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:43px;
}
#u4469 {
  position:absolute;
  left:611px;
  top:36px;
  width:56px;
  height:43px;
  font-size:14px;
}
#u4470 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u4471 {
  position:absolute;
  left:0px;
  top:79px;
  width:57px;
  height:40px;
}
#u4472 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u4473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u4473 {
  position:absolute;
  left:57px;
  top:79px;
  width:109px;
  height:40px;
  font-size:14px;
}
#u4474 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u4475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u4475 {
  position:absolute;
  left:166px;
  top:79px;
  width:92px;
  height:40px;
}
#u4476 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u4477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u4477 {
  position:absolute;
  left:258px;
  top:79px;
  width:180px;
  height:40px;
}
#u4478 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4479 {
  position:absolute;
  left:438px;
  top:79px;
  width:173px;
  height:40px;
  font-size:14px;
}
#u4480 {
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u4481 {
  position:absolute;
  left:611px;
  top:79px;
  width:56px;
  height:40px;
  font-size:14px;
}
#u4482 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u4483 {
  position:absolute;
  left:0px;
  top:119px;
  width:57px;
  height:40px;
}
#u4484 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u4485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u4485 {
  position:absolute;
  left:57px;
  top:119px;
  width:109px;
  height:40px;
  font-size:14px;
}
#u4486 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u4487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u4487 {
  position:absolute;
  left:166px;
  top:119px;
  width:92px;
  height:40px;
}
#u4488 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u4489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u4489 {
  position:absolute;
  left:258px;
  top:119px;
  width:180px;
  height:40px;
}
#u4490 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4491 {
  position:absolute;
  left:438px;
  top:119px;
  width:173px;
  height:40px;
  font-size:14px;
}
#u4492 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u4493 {
  position:absolute;
  left:611px;
  top:119px;
  width:56px;
  height:40px;
  font-size:14px;
}
#u4494 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4495 {
  position:absolute;
  left:530px;
  top:115px;
  width:546px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4496 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u4497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4497 {
  position:absolute;
  left:530px;
  top:32px;
  width:539px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4498 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u4499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4499 {
  position:absolute;
  left:530px;
  top:53px;
  width:207px;
  height:56px;
}
#u4500 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
