body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1831px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3868 {
  position:absolute;
  left:0px;
  top:79px;
  width:1300px;
  height:1831px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:908px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:1831px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3870 {
  position:absolute;
  left:0px;
  top:79px;
  width:225px;
  height:1831px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:908px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3872 {
  position:absolute;
  left:224px;
  top:79px;
  width:1076px;
  height:50px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:17px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3875 {
  position:absolute;
  left:0px;
  top:128px;
  width:225px;
  height:40px;
  text-align:left;
}
#u3876 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u3877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3877 {
  position:absolute;
  left:0px;
  top:167px;
  width:225px;
  height:40px;
  text-align:left;
}
#u3878 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u3879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3879 {
  position:absolute;
  left:0px;
  top:333px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3880 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3882 {
  position:absolute;
  left:0px;
  top:382px;
  width:225px;
  height:40px;
  text-align:left;
}
#u3883 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3884 {
  position:absolute;
  left:0px;
  top:421px;
  width:225px;
  height:40px;
  text-align:left;
}
#u3885 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3886 {
  position:absolute;
  left:0px;
  top:206px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3887 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u3888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3888 {
  position:absolute;
  left:0px;
  top:79px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3889 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3890 {
  position:absolute;
  left:0px;
  top:509px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3891 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3892 {
  position:absolute;
  left:0px;
  top:558px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3893 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u3894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3894 {
  position:absolute;
  left:0px;
  top:460px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3895 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3897 {
  position:absolute;
  left:0px;
  top:255px;
  width:225px;
  height:40px;
  text-align:left;
}
#u3898 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u3899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3899 {
  position:absolute;
  left:0px;
  top:294px;
  width:225px;
  height:40px;
  text-align:left;
}
#u3900 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3905 {
  position:absolute;
  left:1186px;
  top:21px;
  width:94px;
  height:39px;
  font-size:12px;
}
#u3906 {
  position:absolute;
  left:0px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3907 {
  position:absolute;
  left:1254px;
  top:32px;
  width:15px;
  height:15px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3909 {
  position:absolute;
  left:11px;
  top:25px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3910 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3912 {
  position:absolute;
  left:235px;
  top:175px;
  width:1059px;
  height:185px;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3914 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3915 {
  position:absolute;
  left:190px;
  top:0px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3916 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3917 {
  position:absolute;
  left:528px;
  top:0px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3918 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3919 {
  position:absolute;
  left:716px;
  top:0px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3920 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3921 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3922 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3923 {
  position:absolute;
  left:190px;
  top:30px;
  width:338px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u3924 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3925 {
  position:absolute;
  left:528px;
  top:30px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3926 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3927 {
  position:absolute;
  left:716px;
  top:30px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3928 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3930 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3931 {
  position:absolute;
  left:190px;
  top:60px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3932 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3933 {
  position:absolute;
  left:528px;
  top:60px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3934 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3935 {
  position:absolute;
  left:716px;
  top:60px;
  width:338px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u3936 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3937 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3938 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3939 {
  position:absolute;
  left:190px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u3940 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3941 {
  position:absolute;
  left:528px;
  top:90px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3942 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3943 {
  position:absolute;
  left:716px;
  top:90px;
  width:338px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u3944 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3945 {
  position:absolute;
  left:0px;
  top:120px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3946 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3947 {
  position:absolute;
  left:190px;
  top:120px;
  width:338px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u3948 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3949 {
  position:absolute;
  left:528px;
  top:120px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3950 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3951 {
  position:absolute;
  left:716px;
  top:120px;
  width:338px;
  height:30px;
  color:#000000;
  text-align:left;
}
#u3952 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3953 {
  position:absolute;
  left:0px;
  top:150px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3954 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3955 {
  position:absolute;
  left:190px;
  top:150px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3956 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3957 {
  position:absolute;
  left:528px;
  top:150px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3958 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3959 {
  position:absolute;
  left:716px;
  top:150px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3960 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3961 {
  position:absolute;
  left:235px;
  top:136px;
  width:1054px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3962 {
  position:absolute;
  left:2px;
  top:12px;
  width:1050px;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u3963 {
  position:absolute;
  left:1131px;
  top:148px;
  width:131px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3966 {
  position:absolute;
  left:235px;
  top:409px;
  width:1059px;
  height:65px;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3968 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3969 {
  position:absolute;
  left:190px;
  top:0px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3970 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3971 {
  position:absolute;
  left:528px;
  top:0px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3972 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3973 {
  position:absolute;
  left:716px;
  top:0px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3974 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  text-align:right;
}
#u3976 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3977 {
  position:absolute;
  left:190px;
  top:30px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3978 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u3979 {
  position:absolute;
  left:528px;
  top:30px;
  width:188px;
  height:30px;
  text-align:right;
}
#u3980 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u3981 {
  position:absolute;
  left:716px;
  top:30px;
  width:338px;
  height:30px;
  text-align:left;
}
#u3982 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3983 {
  position:absolute;
  left:235px;
  top:370px;
  width:1054px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3984 {
  position:absolute;
  left:2px;
  top:12px;
  width:1050px;
  word-wrap:break-word;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  position:absolute;
  left:1032px;
  top:91px;
  width:110px;
  height:30px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3987 {
  position:absolute;
  left:235px;
  top:480px;
  width:1056px;
  height:105px;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:100px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:100px;
  text-align:right;
}
#u3989 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:100px;
}
#u3990 {
  position:absolute;
  left:190px;
  top:0px;
  width:861px;
  height:100px;
  text-align:left;
}
#u3991 {
  position:absolute;
  left:2px;
  top:42px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u3993 {
  position:absolute;
  left:448px;
  top:512px;
  width:37px;
  height:25px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:482px;
  top:518px;
  width:132px;
  height:16px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:1167px;
  top:91px;
  width:110px;
  height:30px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3997_ann {
  position:absolute;
  left:1270px;
  top:87px;
  width:1px;
  height:1px;
}
