body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u12018 {
  position:absolute;
  left:15px;
  top:13px;
  width:34px;
  height:45px;
}
#u12019 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u12020 {
  position:absolute;
  left:64px;
  top:22px;
  width:193px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u12021 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u12022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:130px;
}
#u12022 {
  position:absolute;
  left:12px;
  top:75px;
  width:422px;
  height:130px;
}
#u12023 {
  position:absolute;
  left:2px;
  top:57px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:629px;
}
#u12024 {
  position:absolute;
  left:12px;
  top:205px;
  width:422px;
  height:629px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:306px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:95px;
}
#u12026 {
  position:absolute;
  left:12px;
  top:834px;
  width:422px;
  height:95px;
}
#u12027 {
  position:absolute;
  left:2px;
  top:40px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12028 {
  position:absolute;
  left:33px;
  top:142px;
  width:375px;
  height:667px;
}
#u12029 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12030 {
  position:absolute;
  left:333px;
  top:156px;
  width:1px;
  height:16px;
}
#u12031 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u12032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u12032 {
  position:absolute;
  left:33px;
  top:142px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u12033 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u12034 {
  position:absolute;
  left:33px;
  top:142px;
  width:375px;
  height:20px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12036 {
  position:absolute;
  left:33px;
  top:205px;
  width:375px;
  height:1px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12038 {
  position:absolute;
  left:192px;
  top:173px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12039 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12040 {
  position:absolute;
  left:42px;
  top:169px;
  width:25px;
  height:26px;
  color:#FFFFFF;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12042 {
  position:absolute;
  left:33px;
  top:205px;
  width:375px;
  height:604px;
  color:#FFFFFF;
}
#u12043 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u12044 {
  position:absolute;
  left:44px;
  top:418px;
  width:15px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u12046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12046 {
  position:absolute;
  left:527px;
  top:9px;
  width:539px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12047 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u12048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12048 {
  position:absolute;
  left:527px;
  top:31px;
  width:291px;
  height:16px;
  color:#FF0000;
}
#u12049 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u12051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12051 {
  position:absolute;
  left:33px;
  top:205px;
  width:375px;
  height:100px;
}
#u12052 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u12053 {
  position:absolute;
  left:44px;
  top:216px;
  width:105px;
  height:80px;
}
#u12054 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12053_ann {
  position:absolute;
  left:142px;
  top:212px;
  width:1px;
  height:1px;
}
#u12055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12055 {
  position:absolute;
  left:162px;
  top:215px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12056 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u12055_ann {
  position:absolute;
  left:270px;
  top:211px;
  width:1px;
  height:1px;
}
#u12057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12057 {
  position:absolute;
  left:162px;
  top:235px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u12058 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u12057_ann {
  position:absolute;
  left:359px;
  top:231px;
  width:1px;
  height:1px;
}
#u12059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u12059 {
  position:absolute;
  left:221px;
  top:257px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12060 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12059_ann {
  position:absolute;
  left:265px;
  top:253px;
  width:1px;
  height:1px;
}
#u12061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12061 {
  position:absolute;
  left:161px;
  top:257px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12062 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u12063 {
  position:absolute;
  left:220px;
  top:278px;
  width:83px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12064 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12063_ann {
  position:absolute;
  left:296px;
  top:274px;
  width:1px;
  height:1px;
}
#u12065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12065 {
  position:absolute;
  left:161px;
  top:277px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12066 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12068 {
  position:absolute;
  left:33px;
  top:304px;
  width:375px;
  height:100px;
}
#u12069 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u12070 {
  position:absolute;
  left:44px;
  top:315px;
  width:105px;
  height:80px;
}
#u12071 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12070_ann {
  position:absolute;
  left:142px;
  top:311px;
  width:1px;
  height:1px;
}
#u12072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12072 {
  position:absolute;
  left:162px;
  top:314px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12073 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u12072_ann {
  position:absolute;
  left:270px;
  top:310px;
  width:1px;
  height:1px;
}
#u12074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12074 {
  position:absolute;
  left:162px;
  top:334px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u12075 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u12074_ann {
  position:absolute;
  left:359px;
  top:330px;
  width:1px;
  height:1px;
}
#u12076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u12076 {
  position:absolute;
  left:221px;
  top:356px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12077 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12076_ann {
  position:absolute;
  left:265px;
  top:352px;
  width:1px;
  height:1px;
}
#u12078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12078 {
  position:absolute;
  left:161px;
  top:356px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12079 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u12080 {
  position:absolute;
  left:220px;
  top:377px;
  width:83px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12081 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12080_ann {
  position:absolute;
  left:296px;
  top:373px;
  width:1px;
  height:1px;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12082 {
  position:absolute;
  left:161px;
  top:376px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12083 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12085 {
  position:absolute;
  left:33px;
  top:403px;
  width:375px;
  height:100px;
}
#u12086 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u12087 {
  position:absolute;
  left:44px;
  top:414px;
  width:105px;
  height:80px;
}
#u12088 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12087_ann {
  position:absolute;
  left:142px;
  top:410px;
  width:1px;
  height:1px;
}
#u12089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12089 {
  position:absolute;
  left:162px;
  top:413px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12090 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u12089_ann {
  position:absolute;
  left:270px;
  top:409px;
  width:1px;
  height:1px;
}
#u12091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12091 {
  position:absolute;
  left:162px;
  top:433px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u12092 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u12091_ann {
  position:absolute;
  left:359px;
  top:429px;
  width:1px;
  height:1px;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u12093 {
  position:absolute;
  left:221px;
  top:455px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12094 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12093_ann {
  position:absolute;
  left:265px;
  top:451px;
  width:1px;
  height:1px;
}
#u12095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12095 {
  position:absolute;
  left:161px;
  top:455px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12096 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u12097 {
  position:absolute;
  left:220px;
  top:476px;
  width:83px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12098 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12097_ann {
  position:absolute;
  left:296px;
  top:472px;
  width:1px;
  height:1px;
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12099 {
  position:absolute;
  left:161px;
  top:475px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12100 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12102 {
  position:absolute;
  left:33px;
  top:502px;
  width:375px;
  height:100px;
}
#u12103 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u12104 {
  position:absolute;
  left:44px;
  top:513px;
  width:105px;
  height:80px;
}
#u12105 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12104_ann {
  position:absolute;
  left:142px;
  top:509px;
  width:1px;
  height:1px;
}
#u12106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12106 {
  position:absolute;
  left:162px;
  top:512px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12107 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u12106_ann {
  position:absolute;
  left:270px;
  top:508px;
  width:1px;
  height:1px;
}
#u12108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12108 {
  position:absolute;
  left:162px;
  top:532px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u12109 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u12108_ann {
  position:absolute;
  left:359px;
  top:528px;
  width:1px;
  height:1px;
}
#u12110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u12110 {
  position:absolute;
  left:221px;
  top:554px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12111 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12110_ann {
  position:absolute;
  left:265px;
  top:550px;
  width:1px;
  height:1px;
}
#u12112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12112 {
  position:absolute;
  left:161px;
  top:554px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u12114 {
  position:absolute;
  left:220px;
  top:575px;
  width:83px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u12115 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12114_ann {
  position:absolute;
  left:296px;
  top:571px;
  width:1px;
  height:1px;
}
#u12116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12116 {
  position:absolute;
  left:161px;
  top:574px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12117 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12118 {
  position:absolute;
  left:33px;
  top:205px;
  width:375px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
