body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u869 {
  position:absolute;
  left:14px;
  top:28px;
  width:422px;
  height:829px;
}
#u870 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:35px;
  top:95px;
  width:375px;
  height:667px;
}
#u872 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:335px;
  top:109px;
  width:1px;
  height:16px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u875 {
  position:absolute;
  left:35px;
  top:158px;
  width:375px;
  height:1px;
}
#u876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u877 {
  position:absolute;
  left:198px;
  top:130px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u879 {
  position:absolute;
  left:35px;
  top:95px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u880 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u881 {
  position:absolute;
  left:35px;
  top:95px;
  width:375px;
  height:20px;
}
#u882 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u883 {
  position:absolute;
  left:184px;
  top:124px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u885 {
  position:absolute;
  left:56px;
  top:120px;
  width:25px;
  height:26px;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:35px;
  top:159px;
  width:375px;
  height:603px;
}
#u888 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:176px;
}
#u889 {
  position:absolute;
  left:56px;
  top:169px;
  width:332px;
  height:175px;
}
#u890 {
  position:absolute;
  left:2px;
  top:82px;
  width:328px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:176px;
}
#u891 {
  position:absolute;
  left:56px;
  top:357px;
  width:332px;
  height:175px;
}
#u892 {
  position:absolute;
  left:2px;
  top:82px;
  width:328px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:476px;
  top:35px;
  width:539px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u895 {
  position:absolute;
  left:477px;
  top:59px;
  width:531px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  white-space:nowrap;
}
