body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:515px;
}
#u2729 {
  position:absolute;
  left:0px;
  top:91px;
  width:1258px;
  height:515px;
}
#u2730 {
  position:absolute;
  left:2px;
  top:250px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:345px;
}
#u2731 {
  position:absolute;
  left:0px;
  top:607px;
  width:1258px;
  height:345px;
}
#u2732 {
  position:absolute;
  left:2px;
  top:164px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:345px;
}
#u2733 {
  position:absolute;
  left:0px;
  top:953px;
  width:1258px;
  height:345px;
}
#u2734 {
  position:absolute;
  left:2px;
  top:164px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2735 {
  position:absolute;
  left:276px;
  top:294px;
  width:153px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2736 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u2737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2739 {
  position:absolute;
  left:781px;
  top:208px;
  width:125px;
  height:135px;
}
#u2740 {
  position:absolute;
  left:2px;
  top:60px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2741 {
  position:absolute;
  left:793px;
  top:235px;
  width:100px;
  height:100px;
}
#u2742 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2743 {
  position:absolute;
  left:801px;
  top:213px;
  width:88px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2744 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:58px;
}
#u2745 {
  position:absolute;
  left:720px;
  top:370px;
  width:264px;
  height:58px;
}
#u2746 {
  position:absolute;
  left:2px;
  top:21px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:57px;
}
#u2747 {
  position:absolute;
  left:721px;
  top:444px;
  width:263px;
  height:57px;
}
#u2748 {
  position:absolute;
  left:2px;
  top:20px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2750 {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:90px;
}
#u2751 {
  position:absolute;
  left:2px;
  top:37px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:61px;
}
#u2752 {
  position:absolute;
  left:139px;
  top:16px;
  width:85px;
  height:60px;
  font-size:12px;
}
#u2753 {
  position:absolute;
  left:2px;
  top:15px;
  width:81px;
  word-wrap:break-word;
}
#u2754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2754 {
  position:absolute;
  left:419px;
  top:35px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2755 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2756 {
  position:absolute;
  left:493px;
  top:35px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2757 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2758 {
  position:absolute;
  left:813px;
  top:35px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2759 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2760 {
  position:absolute;
  left:593px;
  top:35px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2761 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2762 {
  position:absolute;
  left:713px;
  top:35px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2763 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2764 {
  position:absolute;
  left:239px;
  top:37px;
  width:43px;
  height:19px;
  font-size:16px;
}
#u2765 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u2766 {
  position:absolute;
  left:1001px;
  top:35px;
  width:1px;
  height:22px;
}
#u2767 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2768 {
  position:absolute;
  left:962px;
  top:35px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2769 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u2770 {
  position:absolute;
  left:1011px;
  top:35px;
  width:110px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u2771 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u2772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2772 {
  position:absolute;
  left:907px;
  top:35px;
  width:20px;
  height:20px;
}
#u2773 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2774_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:67px;
  height:5px;
}
#u2774 {
  position:absolute;
  left:812px;
  top:55px;
  width:64px;
  height:2px;
}
#u2775 {
  position:absolute;
  left:2px;
  top:-7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u2776 {
  position:absolute;
  left:930px;
  top:35px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2777 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2778 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2779 {
  position:absolute;
  left:0px;
  top:1376px;
  width:1258px;
  height:200px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:92px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:100px;
}
#u2781 {
  position:absolute;
  left:139px;
  top:1415px;
  width:161px;
  height:99px;
  font-size:12px;
}
#u2782 {
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  word-wrap:break-word;
}
#u2783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u2783 {
  position:absolute;
  left:322px;
  top:1435px;
  width:183px;
  height:60px;
  line-height:20px;
}
#u2784 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u2785 {
  position:absolute;
  left:520px;
  top:1427px;
  width:100px;
  height:95px;
}
#u2786 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2787 {
  position:absolute;
  left:630px;
  top:1427px;
  width:57px;
  height:16px;
}
#u2788 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u2789 {
  position:absolute;
  left:713px;
  top:1427px;
  width:100px;
  height:95px;
}
#u2790 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2791 {
  position:absolute;
  left:821px;
  top:1427px;
  width:56px;
  height:16px;
}
#u2792 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:48px;
}
#u2793 {
  position:absolute;
  left:893px;
  top:1459px;
  width:335px;
  height:48px;
}
#u2794 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u2795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2795 {
  position:absolute;
  left:892px;
  top:1427px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2796 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2797 {
  position:absolute;
  left:971px;
  top:1427px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2798 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2799 {
  position:absolute;
  left:1050px;
  top:1427px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2800 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2801_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u2801 {
  position:absolute;
  left:958px;
  top:1425px;
  width:2px;
  height:20px;
}
#u2802 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2803_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u2803 {
  position:absolute;
  left:1036px;
  top:1425px;
  width:2px;
  height:20px;
}
#u2804 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2805 {
  position:absolute;
  left:1129px;
  top:1427px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2806 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2807_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u2807 {
  position:absolute;
  left:1115px;
  top:1425px;
  width:2px;
  height:20px;
}
#u2808 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2810 {
  position:absolute;
  left:1079px;
  top:117px;
  width:125px;
  height:35px;
}
#u2811 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2812 {
  position:absolute;
  left:1088px;
  top:126px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u2813 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u2814 {
  position:absolute;
  left:1142px;
  top:124px;
  width:1px;
  height:20px;
}
#u2815 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2816 {
  position:absolute;
  left:1154px;
  top:126px;
  width:43px;
  height:16px;
}
#u2817 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u2818 {
  position:absolute;
  left:1309px;
  top:16px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u2819 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  word-wrap:break-word;
}
