body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:66px;
}
#u6881 {
  position:absolute;
  left:41px;
  top:25px;
  width:422px;
  height:66px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:25px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:817px;
}
#u6883 {
  position:absolute;
  left:41px;
  top:91px;
  width:422px;
  height:817px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:400px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:96px;
}
#u6885 {
  position:absolute;
  left:41px;
  top:908px;
  width:422px;
  height:96px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:40px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6887 {
  position:absolute;
  left:62px;
  top:92px;
  width:375px;
  height:667px;
}
#u6888 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6889 {
  position:absolute;
  left:363px;
  top:106px;
  width:1px;
  height:16px;
}
#u6890 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u6891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u6891 {
  position:absolute;
  left:62px;
  top:92px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u6892 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6893 {
  position:absolute;
  left:62px;
  top:92px;
  width:375px;
  height:20px;
}
#u6894 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6895 {
  position:absolute;
  left:62px;
  top:155px;
  width:375px;
  height:1px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6897 {
  position:absolute;
  left:220px;
  top:121px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6898 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6899 {
  position:absolute;
  left:76px;
  top:109px;
  width:29px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6902 {
  position:absolute;
  left:511px;
  top:108px;
  width:300px;
  height:110px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:47px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6904 {
  position:absolute;
  left:607px;
  top:130px;
  width:111px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6904_ann {
  position:absolute;
  left:711px;
  top:126px;
  width:1px;
  height:1px;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u6906 {
  position:absolute;
  left:511px;
  top:171px;
  width:300px;
  height:1px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u6908 {
  position:absolute;
  left:656px;
  top:171px;
  width:1px;
  height:47px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6910 {
  position:absolute;
  left:567px;
  top:187px;
  width:29px;
  height:16px;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6910_ann {
  position:absolute;
  left:589px;
  top:183px;
  width:1px;
  height:1px;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6912 {
  position:absolute;
  left:724px;
  top:187px;
  width:29px;
  height:16px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6912_ann {
  position:absolute;
  left:746px;
  top:183px;
  width:1px;
  height:1px;
}
#u6915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6918 {
  position:absolute;
  left:62px;
  top:219px;
  width:375px;
  height:90px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:75px;
}
#u6920 {
  position:absolute;
  left:75px;
  top:226px;
  width:105px;
  height:75px;
}
#u6921 {
  position:absolute;
  left:2px;
  top:30px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_ann {
  position:absolute;
  left:173px;
  top:222px;
  width:1px;
  height:1px;
}
#u6922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6922 {
  position:absolute;
  left:191px;
  top:230px;
  width:93px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6922_ann {
  position:absolute;
  left:277px;
  top:226px;
  width:1px;
  height:1px;
}
#u6924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6924 {
  position:absolute;
  left:191px;
  top:254px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u6925 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u6924_ann {
  position:absolute;
  left:388px;
  top:250px;
  width:1px;
  height:1px;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u6926 {
  position:absolute;
  left:191px;
  top:278px;
  width:135px;
  height:16px;
  font-size:14px;
  line-height:normal;
}
#u6927 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u6926_ann {
  position:absolute;
  left:319px;
  top:274px;
  width:1px;
  height:1px;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6928 {
  position:absolute;
  left:62px;
  top:351px;
  width:375px;
  height:45px;
  text-align:left;
}
#u6929 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u6930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6930 {
  position:absolute;
  left:62px;
  top:395px;
  width:375px;
  height:45px;
  text-align:left;
}
#u6931 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u6932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6932 {
  position:absolute;
  left:62px;
  top:308px;
  width:375px;
  height:45px;
  text-align:left;
}
#u6933 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6934 {
  position:absolute;
  left:511px;
  top:12px;
  width:539px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u6936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6936 {
  position:absolute;
  left:511px;
  top:33px;
  width:539px;
  height:65px;
}
#u6937 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u6939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6939 {
  position:absolute;
  left:62px;
  top:439px;
  width:375px;
  height:140px;
}
#u6940 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6941 {
  position:absolute;
  left:79px;
  top:453px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6942 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
}
#u6943 {
  position:absolute;
  left:104px;
  top:496px;
  width:49px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6944 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u6945 {
  position:absolute;
  left:235px;
  top:496px;
  width:33px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6946 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u6947 {
  position:absolute;
  left:358px;
  top:495px;
  width:33px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6948 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u6949 {
  position:absolute;
  left:100px;
  top:533px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6950 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u6949_ann {
  position:absolute;
  left:152px;
  top:529px;
  width:1px;
  height:1px;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u6951 {
  position:absolute;
  left:225px;
  top:534px;
  width:53px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6951_ann {
  position:absolute;
  left:271px;
  top:530px;
  width:1px;
  height:1px;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6953 {
  position:absolute;
  left:363px;
  top:534px;
  width:19px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6954 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u6953_ann {
  position:absolute;
  left:375px;
  top:530px;
  width:1px;
  height:1px;
}
#u6955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6955 {
  position:absolute;
  left:62px;
  top:578px;
  width:375px;
  height:45px;
  text-align:left;
}
#u6956 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u6957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6957 {
  position:absolute;
  left:377px;
  top:593px;
  width:47px;
  height:16px;
}
#u6958 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u6959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6959 {
  position:absolute;
  left:62px;
  top:665px;
  width:375px;
  height:45px;
  text-align:left;
}
#u6960 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u6961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6961 {
  position:absolute;
  left:377px;
  top:680px;
  width:47px;
  height:16px;
}
#u6962 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u6963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6963 {
  position:absolute;
  left:62px;
  top:622px;
  width:375px;
  height:45px;
  text-align:left;
}
#u6964 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u6965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6965 {
  position:absolute;
  left:377px;
  top:637px;
  width:47px;
  height:16px;
}
#u6966 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u6967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33CCFF;
}
#u6968 {
  position:absolute;
  left:62px;
  top:155px;
  width:375px;
  height:65px;
  color:#33CCFF;
}
#u6969 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
}
#u6970 {
  position:absolute;
  left:85px;
  top:167px;
  width:58px;
  height:40px;
  color:#33CCFF;
}
#u6971 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u6972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33CCFF;
}
#u6972 {
  position:absolute;
  left:159px;
  top:177px;
  width:99px;
  height:16px;
  color:#33CCFF;
}
#u6973 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6975 {
  position:absolute;
  left:62px;
  top:709px;
  width:375px;
  height:150px;
}
#u6976 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6977 {
  position:absolute;
  left:74px;
  top:715px;
  width:352px;
  height:135px;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u6979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u6979 {
  position:absolute;
  left:72px;
  top:777px;
  width:365px;
  height:1px;
}
#u6980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:16px;
}
#u6981 {
  position:absolute;
  left:74px;
  top:818px;
  width:352px;
  height:16px;
}
#u6982 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u6981_ann {
  position:absolute;
  left:419px;
  top:814px;
  width:1px;
  height:1px;
}
#u6983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6983 {
  position:absolute;
  left:62px;
  top:858px;
  width:375px;
  height:50px;
}
#u6984 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6985 {
  position:absolute;
  left:257px;
  top:871px;
  width:75px;
  height:25px;
}
#u6986 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u6987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6987 {
  position:absolute;
  left:342px;
  top:871px;
  width:75px;
  height:25px;
}
#u6988 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
