body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1643px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:922px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21806 {
  position:absolute;
  left:0px;
  top:70px;
  width:1300px;
  height:922px;
}
#u21807 {
  position:absolute;
  left:2px;
  top:453px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21808 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u21809 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:894px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21810 {
  position:absolute;
  left:0px;
  top:98px;
  width:225px;
  height:894px;
}
#u21811 {
  position:absolute;
  left:2px;
  top:439px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21812 {
  position:absolute;
  left:224px;
  top:79px;
  width:1076px;
  height:50px;
}
#u21813 {
  position:absolute;
  left:2px;
  top:17px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21814 {
  position:absolute;
  left:246px;
  top:96px;
  width:278px;
  height:16px;
}
#u21815 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u21816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21816 {
  position:absolute;
  left:636px;
  top:863px;
  width:140px;
  height:40px;
}
#u21817 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u21818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21818 {
  position:absolute;
  left:1333px;
  top:380px;
  width:300px;
  height:170px;
  font-size:16px;
}
#u21819 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
#u21820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u21820 {
  position:absolute;
  left:1333px;
  top:498px;
  width:294px;
  height:1px;
}
#u21821 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21822 {
  position:absolute;
  left:1371px;
  top:509px;
  width:95px;
  height:25px;
}
#u21823 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u21824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21824 {
  position:absolute;
  left:1488px;
  top:509px;
  width:95px;
  height:25px;
}
#u21825 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u21826 {
  position:absolute;
  left:235px;
  top:148px;
  width:1060px;
  height:647px;
}
#u21827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:51px;
}
#u21827 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:51px;
  font-size:14px;
  text-align:right;
}
#u21828 {
  position:absolute;
  left:2px;
  top:18px;
  width:204px;
  word-wrap:break-word;
}
#u21829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:51px;
}
#u21829 {
  position:absolute;
  left:208px;
  top:0px;
  width:847px;
  height:51px;
  text-align:left;
}
#u21830 {
  position:absolute;
  left:2px;
  top:18px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:591px;
}
#u21831 {
  position:absolute;
  left:0px;
  top:51px;
  width:208px;
  height:591px;
  font-size:14px;
  text-align:right;
}
#u21832 {
  position:absolute;
  left:2px;
  top:288px;
  width:204px;
  word-wrap:break-word;
}
#u21833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:591px;
}
#u21833 {
  position:absolute;
  left:208px;
  top:51px;
  width:847px;
  height:591px;
  text-align:left;
}
#u21834 {
  position:absolute;
  left:2px;
  top:288px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21835 {
  position:absolute;
  left:1333px;
  top:54px;
  width:310px;
  height:173px;
}
#u21836 {
  position:absolute;
  left:0px;
  top:78px;
  width:310px;
  word-wrap:break-word;
}
#u21837 {
  position:absolute;
  left:454px;
  top:161px;
  width:812px;
  height:25px;
}
#u21837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21838 {
  position:absolute;
  left:0px;
  top:79px;
  width:225px;
  height:269px;
}
#u21839 {
  position:absolute;
  left:2px;
  top:126px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21840 {
  position:absolute;
  left:0px;
  top:79px;
  width:225px;
  height:50px;
}
#u21841 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21842 {
  position:absolute;
  left:44px;
  top:96px;
  width:163px;
  height:16px;
}
#u21843 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u21844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21844 {
  position:absolute;
  left:24px;
  top:96px;
  width:16px;
  height:16px;
}
#u21845 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21846 {
  position:absolute;
  left:0px;
  top:128px;
  width:225px;
  height:50px;
}
#u21847 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21848 {
  position:absolute;
  left:44px;
  top:145px;
  width:159px;
  height:16px;
}
#u21849 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u21850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21850 {
  position:absolute;
  left:24px;
  top:145px;
  width:16px;
  height:16px;
}
#u21851 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21852 {
  position:absolute;
  left:44px;
  top:231px;
  width:57px;
  height:16px;
}
#u21853 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21854 {
  position:absolute;
  left:44px;
  top:267px;
  width:57px;
  height:16px;
}
#u21855 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21856 {
  position:absolute;
  left:44px;
  top:195px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21857 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21859 {
  position:absolute;
  left:557px;
  top:278px;
  width:20px;
  height:20px;
  color:#000000;
}
#u21860 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21861 {
  position:absolute;
  left:587px;
  top:278px;
  width:29px;
  height:16px;
  color:#000000;
}
#u21862 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21863 {
  position:absolute;
  left:540px;
  top:280px;
  width:27px;
  height:16px;
  color:#000000;
}
#u21864 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21863_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21865 {
  position:absolute;
  left:554px;
  top:308px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21866 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21865_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21867 {
  position:absolute;
  left:554px;
  top:334px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21868 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21867_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21869 {
  position:absolute;
  left:554px;
  top:360px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21870 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21869_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21871 {
  position:absolute;
  left:554px;
  top:386px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21872 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21871_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21873 {
  position:absolute;
  left:557px;
  top:587px;
  width:20px;
  height:20px;
  color:#000000;
}
#u21874 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21875 {
  position:absolute;
  left:587px;
  top:587px;
  width:29px;
  height:16px;
  color:#000000;
}
#u21876 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21877 {
  position:absolute;
  left:540px;
  top:589px;
  width:27px;
  height:16px;
  color:#000000;
}
#u21878 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21877_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21879 {
  position:absolute;
  left:554px;
  top:516px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21880 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21879_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21881 {
  position:absolute;
  left:557px;
  top:616px;
  width:20px;
  height:20px;
  color:#000000;
}
#u21882 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21883 {
  position:absolute;
  left:587px;
  top:616px;
  width:29px;
  height:16px;
  color:#000000;
}
#u21884 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21885 {
  position:absolute;
  left:540px;
  top:618px;
  width:27px;
  height:16px;
  color:#000000;
}
#u21886 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21885_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21887 {
  position:absolute;
  left:554px;
  top:542px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21888 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21887_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21889 {
  position:absolute;
  left:557px;
  top:649px;
  width:20px;
  height:20px;
  color:#000000;
}
#u21890 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21891 {
  position:absolute;
  left:587px;
  top:649px;
  width:29px;
  height:16px;
  color:#000000;
}
#u21892 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21893 {
  position:absolute;
  left:540px;
  top:651px;
  width:27px;
  height:16px;
  color:#000000;
}
#u21894 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21893_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21895 {
  position:absolute;
  left:557px;
  top:679px;
  width:20px;
  height:20px;
  color:#000000;
}
#u21896 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21897 {
  position:absolute;
  left:587px;
  top:679px;
  width:29px;
  height:16px;
  color:#000000;
}
#u21898 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21899 {
  position:absolute;
  left:540px;
  top:681px;
  width:27px;
  height:16px;
  color:#000000;
}
#u21900 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21899_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21901 {
  position:absolute;
  left:540px;
  top:715px;
  width:37px;
  height:16px;
  color:#000000;
}
#u21902 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21903 {
  position:absolute;
  left:533px;
  top:248px;
  width:20px;
  height:20px;
  color:#000000;
}
#u21904 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21905 {
  position:absolute;
  left:563px;
  top:248px;
  width:29px;
  height:16px;
  color:#000000;
}
#u21906 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21907 {
  position:absolute;
  left:516px;
  top:250px;
  width:27px;
  height:16px;
  color:#000000;
}
#u21908 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21907_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21909 {
  position:absolute;
  left:554px;
  top:412px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21910 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21909_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21911 {
  position:absolute;
  left:554px;
  top:438px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21912 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21911_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21913 {
  position:absolute;
  left:554px;
  top:464px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21914 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21913_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21915 {
  position:absolute;
  left:554px;
  top:490px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21916 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21915_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21917 {
  position:absolute;
  left:554px;
  top:568px;
  width:100px;
  height:16px;
  color:#000000;
}
#u21918 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21917_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21919 {
  position:absolute;
  left:722px;
  top:0px;
  width:75px;
  height:80px;
}
#u21920 {
  position:absolute;
  left:2px;
  top:32px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21922 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u21923 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21925 {
  position:absolute;
  left:1186px;
  top:21px;
  width:94px;
  height:39px;
  font-size:12px;
}
#u21926 {
  position:absolute;
  left:0px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u21927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21927 {
  position:absolute;
  left:1254px;
  top:32px;
  width:15px;
  height:15px;
}
#u21928 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u21929 {
  position:absolute;
  left:21px;
  top:25px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u21930 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
