body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:2519px;
}
#u2 {
  position:absolute;
  left:337px;
  top:20px;
  width:398px;
  height:2519px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1252px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
