body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1831px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7720 {
  position:absolute;
  left:0px;
  top:78px;
  width:1300px;
  height:1831px;
}
#u7721 {
  position:absolute;
  left:2px;
  top:908px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:1831px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7722 {
  position:absolute;
  left:0px;
  top:78px;
  width:225px;
  height:1831px;
}
#u7723 {
  position:absolute;
  left:2px;
  top:908px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7724 {
  position:absolute;
  left:224px;
  top:78px;
  width:1076px;
  height:50px;
}
#u7725 {
  position:absolute;
  left:2px;
  top:17px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7727 {
  position:absolute;
  left:0px;
  top:127px;
  width:225px;
  height:40px;
  text-align:left;
}
#u7728 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u7729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7729 {
  position:absolute;
  left:0px;
  top:166px;
  width:225px;
  height:40px;
  text-align:left;
}
#u7730 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u7731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7731 {
  position:absolute;
  left:0px;
  top:332px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u7732 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u7733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7734 {
  position:absolute;
  left:0px;
  top:381px;
  width:225px;
  height:40px;
  text-align:left;
}
#u7735 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u7736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7736 {
  position:absolute;
  left:0px;
  top:420px;
  width:225px;
  height:40px;
  text-align:left;
}
#u7737 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u7738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7738 {
  position:absolute;
  left:0px;
  top:205px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u7739 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u7740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7740 {
  position:absolute;
  left:0px;
  top:78px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u7741 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u7742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7742 {
  position:absolute;
  left:0px;
  top:508px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u7743 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u7744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7744 {
  position:absolute;
  left:0px;
  top:557px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u7745 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u7746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7746 {
  position:absolute;
  left:0px;
  top:459px;
  width:225px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u7747 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u7748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7749 {
  position:absolute;
  left:0px;
  top:254px;
  width:225px;
  height:40px;
  text-align:left;
}
#u7750 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u7751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7751 {
  position:absolute;
  left:0px;
  top:293px;
  width:225px;
  height:40px;
  text-align:left;
}
#u7752 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u7754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7754 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1300px;
  height:80px;
}
#u7755 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7757 {
  position:absolute;
  left:1186px;
  top:20px;
  width:94px;
  height:39px;
  font-size:12px;
}
#u7758 {
  position:absolute;
  left:0px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u7759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7759 {
  position:absolute;
  left:1254px;
  top:31px;
  width:15px;
  height:15px;
}
#u7760 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7761 {
  position:absolute;
  left:11px;
  top:24px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7762 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7763 {
  position:absolute;
  left:1339px;
  top:19px;
  width:452px;
  height:170px;
  text-align:left;
}
#u7764 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u7765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7766 {
  position:absolute;
  left:235px;
  top:188px;
  width:1059px;
  height:305px;
}
#u7767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7767 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7768 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7769 {
  position:absolute;
  left:190px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7770 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7771 {
  position:absolute;
  left:528px;
  top:0px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7772 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7773 {
  position:absolute;
  left:716px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7774 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7775 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7776 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7777 {
  position:absolute;
  left:190px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7778 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7779 {
  position:absolute;
  left:528px;
  top:30px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7780 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7781 {
  position:absolute;
  left:716px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7782 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7783 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7784 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7785 {
  position:absolute;
  left:190px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7786 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7787 {
  position:absolute;
  left:528px;
  top:60px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7788 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7789 {
  position:absolute;
  left:716px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7790 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7791 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7792 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7793 {
  position:absolute;
  left:190px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7794 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7795 {
  position:absolute;
  left:528px;
  top:90px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7796 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7797 {
  position:absolute;
  left:716px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7798 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7799 {
  position:absolute;
  left:0px;
  top:120px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7800 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7801 {
  position:absolute;
  left:190px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7802 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7803 {
  position:absolute;
  left:528px;
  top:120px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7804 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7805 {
  position:absolute;
  left:716px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7806 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7807 {
  position:absolute;
  left:0px;
  top:150px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7808 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7809 {
  position:absolute;
  left:190px;
  top:150px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7810 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7811 {
  position:absolute;
  left:528px;
  top:150px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7812 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7813 {
  position:absolute;
  left:716px;
  top:150px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7814 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7815 {
  position:absolute;
  left:0px;
  top:180px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7816 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7817 {
  position:absolute;
  left:190px;
  top:180px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7818 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7819 {
  position:absolute;
  left:528px;
  top:180px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7820 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7821 {
  position:absolute;
  left:716px;
  top:180px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7822 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7823 {
  position:absolute;
  left:0px;
  top:210px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7824 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7825 {
  position:absolute;
  left:190px;
  top:210px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7826 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7827 {
  position:absolute;
  left:528px;
  top:210px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7828 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7829 {
  position:absolute;
  left:716px;
  top:210px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7830 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7831 {
  position:absolute;
  left:0px;
  top:240px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7832 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7833 {
  position:absolute;
  left:190px;
  top:240px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7834 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7835 {
  position:absolute;
  left:528px;
  top:240px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7836 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7837 {
  position:absolute;
  left:716px;
  top:240px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7838 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7839 {
  position:absolute;
  left:0px;
  top:270px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7840 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7841 {
  position:absolute;
  left:190px;
  top:270px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7842 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7843 {
  position:absolute;
  left:528px;
  top:270px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7844 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7845 {
  position:absolute;
  left:716px;
  top:270px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7846 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7847 {
  position:absolute;
  left:235px;
  top:149px;
  width:1054px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7848 {
  position:absolute;
  left:2px;
  top:12px;
  width:1050px;
  word-wrap:break-word;
}
#u7849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7850 {
  position:absolute;
  left:235px;
  top:717px;
  width:1054px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7851 {
  position:absolute;
  left:2px;
  top:12px;
  width:1050px;
  word-wrap:break-word;
}
#u7852 {
  position:absolute;
  left:235px;
  top:756px;
  width:1059px;
  height:155px;
}
#u7853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7853 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7854 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7855 {
  position:absolute;
  left:190px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7856 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7857 {
  position:absolute;
  left:528px;
  top:0px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7858 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7859 {
  position:absolute;
  left:716px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7860 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7861 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7862 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7863 {
  position:absolute;
  left:190px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7864 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7865 {
  position:absolute;
  left:528px;
  top:30px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7866 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7867 {
  position:absolute;
  left:716px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7868 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7869 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7870 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7871 {
  position:absolute;
  left:190px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7872 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7873 {
  position:absolute;
  left:528px;
  top:60px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7874 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7875 {
  position:absolute;
  left:716px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7876 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7877 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u7878 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7879 {
  position:absolute;
  left:190px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7880 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7881 {
  position:absolute;
  left:528px;
  top:90px;
  width:188px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u7882 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7883 {
  position:absolute;
  left:716px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7884 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7885 {
  position:absolute;
  left:0px;
  top:120px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7886 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7887 {
  position:absolute;
  left:190px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7888 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7889 {
  position:absolute;
  left:528px;
  top:120px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7890 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7891 {
  position:absolute;
  left:716px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7892 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7894 {
  position:absolute;
  left:235px;
  top:512px;
  width:1054px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7895 {
  position:absolute;
  left:2px;
  top:12px;
  width:1050px;
  word-wrap:break-word;
}
#u7896 {
  position:absolute;
  left:235px;
  top:551px;
  width:1059px;
  height:155px;
}
#u7897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7897 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7898 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7899 {
  position:absolute;
  left:190px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7900 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7901 {
  position:absolute;
  left:528px;
  top:0px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7902 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7903 {
  position:absolute;
  left:716px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7904 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7905 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7906 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7907 {
  position:absolute;
  left:190px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7908 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7909 {
  position:absolute;
  left:528px;
  top:30px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7910 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7911 {
  position:absolute;
  left:716px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7912 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7913 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u7914 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7915 {
  position:absolute;
  left:190px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7916 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7917 {
  position:absolute;
  left:528px;
  top:60px;
  width:188px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u7918 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7919 {
  position:absolute;
  left:716px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7920 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7921 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u7922 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7923 {
  position:absolute;
  left:190px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7924 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7925 {
  position:absolute;
  left:528px;
  top:90px;
  width:188px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u7926 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7927 {
  position:absolute;
  left:716px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7928 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7929 {
  position:absolute;
  left:0px;
  top:120px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7930 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7931 {
  position:absolute;
  left:190px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7932 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7933 {
  position:absolute;
  left:528px;
  top:120px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7934 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7935 {
  position:absolute;
  left:716px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7936 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7937 {
  position:absolute;
  left:1105px;
  top:160px;
  width:169px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7938 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7937_ann {
  position:absolute;
  left:1267px;
  top:156px;
  width:1px;
  height:1px;
}
#u7939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7941 {
  position:absolute;
  left:235px;
  top:917px;
  width:1054px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u7942 {
  position:absolute;
  left:2px;
  top:12px;
  width:1050px;
  word-wrap:break-word;
}
#u7943 {
  position:absolute;
  left:235px;
  top:956px;
  width:1059px;
  height:155px;
}
#u7944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7944 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7945 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7946 {
  position:absolute;
  left:190px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7947 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7948 {
  position:absolute;
  left:528px;
  top:0px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7949 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7950 {
  position:absolute;
  left:716px;
  top:0px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7951 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7952 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7953 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7954 {
  position:absolute;
  left:190px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7955 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7956 {
  position:absolute;
  left:528px;
  top:30px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7957 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7958 {
  position:absolute;
  left:716px;
  top:30px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7959 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7960 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7961 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7962 {
  position:absolute;
  left:190px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7963 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7964 {
  position:absolute;
  left:528px;
  top:60px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7965 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7966 {
  position:absolute;
  left:716px;
  top:60px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7967 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7968 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7969 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7970 {
  position:absolute;
  left:190px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7971 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7972 {
  position:absolute;
  left:528px;
  top:90px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7973 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7974 {
  position:absolute;
  left:716px;
  top:90px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7975 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7976 {
  position:absolute;
  left:0px;
  top:120px;
  width:190px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7977 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7978 {
  position:absolute;
  left:190px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7979 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u7980 {
  position:absolute;
  left:528px;
  top:120px;
  width:188px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7981 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u7982 {
  position:absolute;
  left:716px;
  top:120px;
  width:338px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u7983 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7984 {
  position:absolute;
  left:1158px;
  top:89px;
  width:110px;
  height:30px;
}
#u7985 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:432px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7987 {
  position:absolute;
  left:1332px;
  top:214px;
  width:526px;
  height:432px;
  color:#FF0000;
}
#u7988 {
  position:absolute;
  left:2px;
  top:208px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7989 {
  position:absolute;
  left:1576px;
  top:225px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7990 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u7991 {
  position:absolute;
  left:1369px;
  top:512px;
  width:369px;
  height:40px;
  line-height:20px;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u7993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u7993 {
  position:absolute;
  left:1369px;
  top:562px;
  width:369px;
  height:40px;
  line-height:20px;
}
#u7994 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u7995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u7995 {
  position:absolute;
  left:1369px;
  top:462px;
  width:369px;
  height:40px;
  line-height:20px;
}
#u7996 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u7997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u7997 {
  position:absolute;
  left:1369px;
  top:408px;
  width:369px;
  height:40px;
  line-height:20px;
}
#u7998 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u7999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u7999 {
  position:absolute;
  left:1369px;
  top:358px;
  width:369px;
  height:40px;
  line-height:20px;
}
#u8000 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u8001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8001 {
  position:absolute;
  left:1369px;
  top:308px;
  width:369px;
  height:40px;
  line-height:20px;
}
#u8002 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u8003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8003 {
  position:absolute;
  left:1369px;
  top:258px;
  width:369px;
  height:40px;
  line-height:20px;
}
#u8004 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
