body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:463px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u6703 {
  position:absolute;
  left:41px;
  top:57px;
  width:422px;
  height:829px;
}
#u6704 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u6705 {
  position:absolute;
  left:34px;
  top:9px;
  width:34px;
  height:45px;
}
#u6706 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u6707 {
  position:absolute;
  left:83px;
  top:9px;
  width:353px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u6708 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u6709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6709 {
  position:absolute;
  left:62px;
  top:124px;
  width:375px;
  height:667px;
}
#u6710 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6711 {
  position:absolute;
  left:362px;
  top:138px;
  width:1px;
  height:16px;
}
#u6712 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u6713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u6713 {
  position:absolute;
  left:96px;
  top:447px;
  width:300px;
  height:1px;
}
#u6714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6718 {
  position:absolute;
  left:61px;
  top:124px;
  width:375px;
  height:20px;
}
#u6719 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u6720 {
  position:absolute;
  left:75px;
  top:156px;
  width:12px;
  height:20px;
}
#u6721 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6722 {
  position:absolute;
  left:238px;
  top:154px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6723 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u6724 {
  position:absolute;
  left:61px;
  top:124px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u6725 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6726 {
  position:absolute;
  left:394px;
  top:154px;
  width:31px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6727 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u6728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6728 {
  position:absolute;
  left:61px;
  top:124px;
  width:375px;
  height:20px;
  color:#1E1E1E;
}
#u6729 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6730 {
  position:absolute;
  left:218px;
  top:153px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6731 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6732 {
  position:absolute;
  left:75px;
  top:148px;
  width:25px;
  height:28px;
  color:#FFFFFF;
}
#u6733 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6734 {
  position:absolute;
  left:166px;
  top:328px;
  width:169px;
  height:16px;
  text-align:center;
}
#u6735 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:98px;
}
#u6736 {
  position:absolute;
  left:178px;
  top:221px;
  width:141px;
  height:97px;
}
#u6737 {
  position:absolute;
  left:2px;
  top:44px;
  width:137px;
  word-wrap:break-word;
}
