body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:930px;
}
#u6 {
  position:absolute;
  left:32px;
  top:42px;
  width:977px;
  height:930px;
}
#u7 {
  position:absolute;
  left:2px;
  top:457px;
  width:973px;
  visibility:hidden;
  word-wrap:break-word;
}
