body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:852px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23342 {
  position:absolute;
  left:0px;
  top:-41px;
  width:1300px;
  height:852px;
}
#u23343 {
  position:absolute;
  left:2px;
  top:418px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23344 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u23345 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:659px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23346 {
  position:absolute;
  left:0px;
  top:152px;
  width:225px;
  height:659px;
}
#u23347 {
  position:absolute;
  left:2px;
  top:322px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23348 {
  position:absolute;
  left:224px;
  top:79px;
  width:1076px;
  height:50px;
}
#u23349 {
  position:absolute;
  left:2px;
  top:17px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23350 {
  position:absolute;
  left:0px;
  top:79px;
  width:225px;
  height:269px;
}
#u23351 {
  position:absolute;
  left:2px;
  top:126px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23352 {
  position:absolute;
  left:0px;
  top:79px;
  width:225px;
  height:50px;
}
#u23353 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23354 {
  position:absolute;
  left:44px;
  top:96px;
  width:163px;
  height:16px;
}
#u23355 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u23356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23356 {
  position:absolute;
  left:24px;
  top:96px;
  width:16px;
  height:16px;
}
#u23357 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23358 {
  position:absolute;
  left:0px;
  top:128px;
  width:225px;
  height:50px;
}
#u23359 {
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23360 {
  position:absolute;
  left:44px;
  top:145px;
  width:159px;
  height:16px;
}
#u23361 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u23362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23362 {
  position:absolute;
  left:24px;
  top:145px;
  width:16px;
  height:16px;
}
#u23363 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23364 {
  position:absolute;
  left:44px;
  top:231px;
  width:57px;
  height:16px;
}
#u23365 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23366 {
  position:absolute;
  left:44px;
  top:267px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23367 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23368 {
  position:absolute;
  left:44px;
  top:195px;
  width:57px;
  height:16px;
}
#u23369 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23370 {
  position:absolute;
  left:723px;
  top:0px;
  width:75px;
  height:80px;
}
#u23371 {
  position:absolute;
  left:2px;
  top:32px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23373 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
}
#u23374 {
  position:absolute;
  left:2px;
  top:32px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23376 {
  position:absolute;
  left:1186px;
  top:21px;
  width:94px;
  height:39px;
  font-size:12px;
}
#u23377 {
  position:absolute;
  left:0px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u23378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23378 {
  position:absolute;
  left:1254px;
  top:32px;
  width:15px;
  height:15px;
}
#u23379 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23380 {
  position:absolute;
  left:21px;
  top:25px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23381 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u23382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23383 {
  position:absolute;
  left:235px;
  top:145px;
  width:1060px;
  height:95px;
}
#u23384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u23384 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  text-align:right;
}
#u23385 {
  position:absolute;
  left:2px;
  top:3px;
  width:186px;
  word-wrap:break-word;
}
#u23386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u23386 {
  position:absolute;
  left:190px;
  top:0px;
  width:338px;
  height:30px;
  text-align:left;
}
#u23387 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u23388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23388 {
  position:absolute;
  left:528px;
  top:0px;
  width:188px;
  height:30px;
  text-align:right;
}
#u23389 {
  position:absolute;
  left:2px;
  top:3px;
  width:184px;
  word-wrap:break-word;
}
#u23390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
}
#u23390 {
  position:absolute;
  left:716px;
  top:0px;
  width:339px;
  height:30px;
  text-align:left;
}
#u23391 {
  position:absolute;
  left:2px;
  top:7px;
  width:335px;
  word-wrap:break-word;
}
#u23392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u23392 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  text-align:right;
}
#u23393 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u23394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u23394 {
  position:absolute;
  left:190px;
  top:30px;
  width:338px;
  height:30px;
  text-align:left;
}
#u23395 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u23396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23396 {
  position:absolute;
  left:528px;
  top:30px;
  width:188px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u23397 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u23398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
}
#u23398 {
  position:absolute;
  left:716px;
  top:30px;
  width:339px;
  height:30px;
  text-align:left;
}
#u23399 {
  position:absolute;
  left:2px;
  top:7px;
  width:335px;
  word-wrap:break-word;
}
#u23400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u23400 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
  text-align:right;
}
#u23401 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u23402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u23402 {
  position:absolute;
  left:190px;
  top:60px;
  width:338px;
  height:30px;
  text-align:left;
}
#u23403 {
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  word-wrap:break-word;
}
#u23404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23404 {
  position:absolute;
  left:528px;
  top:60px;
  width:188px;
  height:30px;
  text-align:right;
}
#u23405 {
  position:absolute;
  left:2px;
  top:3px;
  width:184px;
  word-wrap:break-word;
}
#u23406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
}
#u23406 {
  position:absolute;
  left:716px;
  top:60px;
  width:339px;
  height:30px;
  text-align:left;
}
#u23407 {
  position:absolute;
  left:2px;
  top:7px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23409 {
  position:absolute;
  left:235px;
  top:234px;
  width:1060px;
  height:142px;
}
#u23410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u23410 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
  text-align:right;
}
#u23411 {
  position:absolute;
  left:2px;
  top:5px;
  width:186px;
  word-wrap:break-word;
}
#u23412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:34px;
}
#u23412 {
  position:absolute;
  left:190px;
  top:0px;
  width:865px;
  height:34px;
  text-align:left;
}
#u23413 {
  position:absolute;
  left:2px;
  top:9px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u23414 {
  position:absolute;
  left:0px;
  top:34px;
  width:190px;
  height:34px;
  text-align:right;
}
#u23415 {
  position:absolute;
  left:2px;
  top:5px;
  width:186px;
  word-wrap:break-word;
}
#u23416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:34px;
}
#u23416 {
  position:absolute;
  left:190px;
  top:34px;
  width:865px;
  height:34px;
  text-align:left;
}
#u23417 {
  position:absolute;
  left:2px;
  top:9px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:69px;
}
#u23418 {
  position:absolute;
  left:0px;
  top:68px;
  width:190px;
  height:69px;
  text-align:right;
}
#u23419 {
  position:absolute;
  left:2px;
  top:26px;
  width:186px;
  word-wrap:break-word;
}
#u23420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:69px;
}
#u23420 {
  position:absolute;
  left:190px;
  top:68px;
  width:865px;
  height:69px;
  text-align:left;
}
#u23421 {
  position:absolute;
  left:2px;
  top:26px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23422 {
  position:absolute;
  left:436px;
  top:243px;
  width:84px;
  height:16px;
}
#u23423 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u23422_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23424 {
  position:absolute;
  left:515px;
  top:243px;
  width:76px;
  height:16px;
}
#u23425 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u23424_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23426 {
  position:absolute;
  left:598px;
  top:243px;
  width:71px;
  height:16px;
}
#u23427 {
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u23426_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23428 {
  position:absolute;
  left:680px;
  top:243px;
  width:73px;
  height:16px;
}
#u23429 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u23428_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23430 {
  position:absolute;
  left:433px;
  top:304px;
  width:835px;
  height:65px;
}
#u23430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23431 {
  position:absolute;
  left:435px;
  top:272px;
  width:833px;
  height:25px;
}
#u23431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23431_input:disabled {
  color:grayText;
}
#u23432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23432 {
  position:absolute;
  left:553px;
  top:664px;
  width:140px;
  height:40px;
}
#u23433 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u23434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23434 {
  position:absolute;
  left:761px;
  top:664px;
  width:140px;
  height:40px;
}
#u23435 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u23436 {
  position:absolute;
  left:956px;
  top:208px;
  width:312px;
  height:25px;
}
#u23436_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23436_input:disabled {
  color:grayText;
}
#u23437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u23437 {
  position:absolute;
  left:1342px;
  top:19px;
  width:412px;
  height:170px;
  color:#FF0000;
  text-align:left;
}
#u23438 {
  position:absolute;
  left:2px;
  top:53px;
  width:408px;
  word-wrap:break-word;
}
#u23439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23440 {
  position:absolute;
  left:1361px;
  top:231px;
  width:412px;
  height:240px;
}
#u23441 {
  position:absolute;
  left:2px;
  top:112px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23442 {
  position:absolute;
  left:1543px;
  top:244px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u23443 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23444 {
  position:absolute;
  left:1496px;
  top:319px;
  width:176px;
  height:19px;
  font-size:16px;
}
#u23445 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u23446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23446 {
  position:absolute;
  left:1589px;
  top:413px;
  width:140px;
  height:40px;
}
#u23447 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u23448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23448 {
  position:absolute;
  left:1418px;
  top:413px;
  width:140px;
  height:40px;
}
#u23449 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u23450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23451 {
  position:absolute;
  left:1361px;
  top:493px;
  width:412px;
  height:240px;
}
#u23452 {
  position:absolute;
  left:2px;
  top:112px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23453 {
  position:absolute;
  left:1543px;
  top:506px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u23454 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23455 {
  position:absolute;
  left:1411px;
  top:575px;
  width:318px;
  height:38px;
  font-size:16px;
}
#u23456 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u23457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23457 {
  position:absolute;
  left:1589px;
  top:675px;
  width:140px;
  height:40px;
}
#u23458 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u23459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23459 {
  position:absolute;
  left:1418px;
  top:675px;
  width:140px;
  height:40px;
}
#u23460 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
