body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u9689 {
  position:absolute;
  left:38px;
  top:27px;
  width:34px;
  height:45px;
}
#u9690 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u9691 {
  position:absolute;
  left:88px;
  top:24px;
  width:248px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u9692 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u9693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u9693 {
  position:absolute;
  left:38px;
  top:82px;
  width:422px;
  height:829px;
}
#u9694 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9695 {
  position:absolute;
  left:59px;
  top:149px;
  width:375px;
  height:667px;
}
#u9696 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9697 {
  position:absolute;
  left:360px;
  top:163px;
  width:1px;
  height:16px;
}
#u9698 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u9699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u9699 {
  position:absolute;
  left:59px;
  top:149px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u9700 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u9701 {
  position:absolute;
  left:59px;
  top:149px;
  width:375px;
  height:20px;
}
#u9702 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u9703 {
  position:absolute;
  left:59px;
  top:212px;
  width:375px;
  height:1px;
}
#u9704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9705 {
  position:absolute;
  left:218px;
  top:178px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9706 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u9707 {
  position:absolute;
  left:73px;
  top:166px;
  width:29px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u9708 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9709 {
  position:absolute;
  left:390px;
  top:182px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u9710 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9711 {
  position:absolute;
  left:59px;
  top:776px;
  width:375px;
  height:40px;
  text-align:left;
}
#u9712 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9713 {
  position:absolute;
  left:178px;
  top:704px;
  width:140px;
  height:40px;
}
#u9714 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u9715 {
  position:absolute;
  left:179px;
  top:234px;
  width:139px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u9716 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u9717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9718 {
  position:absolute;
  left:552px;
  top:274px;
  width:300px;
  height:255px;
}
#u9719 {
  position:absolute;
  left:2px;
  top:120px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9720 {
  position:absolute;
  left:673px;
  top:283px;
  width:71px;
  height:16px;
}
#u9721 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9722 {
  position:absolute;
  left:561px;
  top:331px;
  width:282px;
  height:137px;
}
#u9723 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u9724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:224px;
}
#u9724 {
  position:absolute;
  left:88px;
  top:350px;
  width:318px;
  height:223px;
}
#u9725 {
  position:absolute;
  left:2px;
  top:104px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9726 {
  position:absolute;
  left:190px;
  top:287px;
  width:97px;
  height:48px;
}
#u9727 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
