body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u10834 {
  position:absolute;
  left:26px;
  top:19px;
  width:34px;
  height:45px;
}
#u10835 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u10836 {
  position:absolute;
  left:75px;
  top:14px;
  width:305px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u10837 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u10838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u10838 {
  position:absolute;
  left:26px;
  top:73px;
  width:422px;
  height:829px;
}
#u10839 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10840 {
  position:absolute;
  left:47px;
  top:140px;
  width:375px;
  height:667px;
}
#u10841 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10842 {
  position:absolute;
  left:347px;
  top:154px;
  width:1px;
  height:16px;
}
#u10843 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u10844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u10844 {
  position:absolute;
  left:47px;
  top:140px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u10845 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u10846 {
  position:absolute;
  left:47px;
  top:140px;
  width:375px;
  height:20px;
}
#u10847 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u10848 {
  position:absolute;
  left:47px;
  top:203px;
  width:375px;
  height:1px;
}
#u10849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10850 {
  position:absolute;
  left:58px;
  top:162px;
  width:25px;
  height:31px;
  color:#FFFFFF;
}
#u10851 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10852 {
  position:absolute;
  left:208px;
  top:169px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10853 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10855 {
  position:absolute;
  left:47px;
  top:231px;
  width:375px;
  height:255px;
}
#u10856 {
  position:absolute;
  left:2px;
  top:120px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:170px;
}
#u10857 {
  position:absolute;
  left:62px;
  top:263px;
  width:345px;
  height:170px;
}
#u10858 {
  position:absolute;
  left:2px;
  top:77px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10859 {
  position:absolute;
  left:62px;
  top:238px;
  width:209px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10860 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u10861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10861 {
  position:absolute;
  left:63px;
  top:436px;
  width:350px;
  height:16px;
}
#u10862 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u10863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10863 {
  position:absolute;
  left:347px;
  top:461px;
  width:65px;
  height:16px;
}
#u10864 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u10865 {
  position:absolute;
  left:62px;
  top:457px;
  width:345px;
  height:1px;
}
#u10866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10867 {
  position:absolute;
  left:205px;
  top:209px;
  width:59px;
  height:16px;
}
#u10868 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10870 {
  position:absolute;
  left:49px;
  top:514px;
  width:375px;
  height:255px;
}
#u10871 {
  position:absolute;
  left:2px;
  top:120px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:170px;
}
#u10872 {
  position:absolute;
  left:64px;
  top:546px;
  width:345px;
  height:170px;
}
#u10873 {
  position:absolute;
  left:2px;
  top:77px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10874 {
  position:absolute;
  left:64px;
  top:521px;
  width:209px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10875 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u10876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10876 {
  position:absolute;
  left:65px;
  top:719px;
  width:350px;
  height:16px;
}
#u10877 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u10878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10878 {
  position:absolute;
  left:349px;
  top:744px;
  width:65px;
  height:16px;
}
#u10879 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u10880 {
  position:absolute;
  left:64px;
  top:740px;
  width:345px;
  height:1px;
}
#u10881 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10882 {
  position:absolute;
  left:207px;
  top:492px;
  width:59px;
  height:16px;
}
#u10883 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
