body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u11551 {
  position:absolute;
  left:38px;
  top:25px;
  width:422px;
  height:829px;
}
#u11552 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11554 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11555 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u11556 {
  position:absolute;
  left:58px;
  top:92px;
  width:375px;
  height:20px;
}
#u11557 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u11558 {
  position:absolute;
  left:72px;
  top:124px;
  width:12px;
  height:20px;
}
#u11559 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11560 {
  position:absolute;
  left:235px;
  top:122px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11561 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u11562 {
  position:absolute;
  left:58px;
  top:92px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u11563 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11564 {
  position:absolute;
  left:391px;
  top:122px;
  width:31px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11565 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u11566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11566 {
  position:absolute;
  left:221px;
  top:122px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11567 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11568 {
  position:absolute;
  left:72px;
  top:116px;
  width:25px;
  height:28px;
  color:#FFFFFF;
}
#u11569 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u11570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11570 {
  position:absolute;
  left:58px;
  top:156px;
  width:375px;
  height:40px;
}
#u11571 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u11572 {
  position:absolute;
  left:58px;
  top:91px;
  width:375px;
  height:20px;
  color:#1E1E1E;
}
#u11573 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u11574 {
  position:absolute;
  left:109px;
  top:167px;
  width:57px;
  height:16px;
  color:#00CCFF;
}
#u11575 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11574_ann {
  position:absolute;
  left:159px;
  top:163px;
  width:1px;
  height:1px;
}
#u11576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11576 {
  position:absolute;
  left:283px;
  top:167px;
  width:57px;
  height:16px;
}
#u11577 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u11578 {
  position:absolute;
  left:171px;
  top:166px;
  width:19px;
  height:17px;
}
#u11579 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u11580 {
  position:absolute;
  left:340px;
  top:166px;
  width:19px;
  height:17px;
}
#u11581 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11583 {
  position:absolute;
  left:58px;
  top:195px;
  width:375px;
  height:100px;
}
#u11584 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u11585 {
  position:absolute;
  left:69px;
  top:206px;
  width:105px;
  height:80px;
}
#u11586 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11585_ann {
  position:absolute;
  left:167px;
  top:202px;
  width:1px;
  height:1px;
}
#u11587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11587 {
  position:absolute;
  left:187px;
  top:205px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11588 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u11587_ann {
  position:absolute;
  left:295px;
  top:201px;
  width:1px;
  height:1px;
}
#u11589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u11589 {
  position:absolute;
  left:187px;
  top:225px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u11590 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u11589_ann {
  position:absolute;
  left:384px;
  top:221px;
  width:1px;
  height:1px;
}
#u11591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u11591 {
  position:absolute;
  left:246px;
  top:247px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11592 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u11591_ann {
  position:absolute;
  left:290px;
  top:243px;
  width:1px;
  height:1px;
}
#u11593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11593 {
  position:absolute;
  left:186px;
  top:247px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11594 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u11595 {
  position:absolute;
  left:255px;
  top:268px;
  width:115px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11596 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u11595_ann {
  position:absolute;
  left:363px;
  top:264px;
  width:1px;
  height:1px;
}
#u11597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11597 {
  position:absolute;
  left:186px;
  top:267px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u11598 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11600 {
  position:absolute;
  left:58px;
  top:294px;
  width:375px;
  height:100px;
}
#u11601 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u11602 {
  position:absolute;
  left:69px;
  top:305px;
  width:105px;
  height:80px;
}
#u11603 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11602_ann {
  position:absolute;
  left:167px;
  top:301px;
  width:1px;
  height:1px;
}
#u11604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11604 {
  position:absolute;
  left:187px;
  top:304px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11605 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u11604_ann {
  position:absolute;
  left:295px;
  top:300px;
  width:1px;
  height:1px;
}
#u11606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u11606 {
  position:absolute;
  left:187px;
  top:324px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u11607 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u11606_ann {
  position:absolute;
  left:384px;
  top:320px;
  width:1px;
  height:1px;
}
#u11608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u11608 {
  position:absolute;
  left:246px;
  top:346px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11609 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u11608_ann {
  position:absolute;
  left:290px;
  top:342px;
  width:1px;
  height:1px;
}
#u11610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11610 {
  position:absolute;
  left:186px;
  top:346px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11611 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u11612 {
  position:absolute;
  left:255px;
  top:367px;
  width:115px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11613 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u11612_ann {
  position:absolute;
  left:363px;
  top:363px;
  width:1px;
  height:1px;
}
#u11614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11614 {
  position:absolute;
  left:186px;
  top:366px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u11615 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11617 {
  position:absolute;
  left:58px;
  top:393px;
  width:375px;
  height:100px;
}
#u11618 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u11619 {
  position:absolute;
  left:69px;
  top:404px;
  width:105px;
  height:80px;
}
#u11620 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11619_ann {
  position:absolute;
  left:167px;
  top:400px;
  width:1px;
  height:1px;
}
#u11621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11621 {
  position:absolute;
  left:187px;
  top:403px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11622 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u11621_ann {
  position:absolute;
  left:295px;
  top:399px;
  width:1px;
  height:1px;
}
#u11623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u11623 {
  position:absolute;
  left:187px;
  top:423px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u11624 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u11623_ann {
  position:absolute;
  left:384px;
  top:419px;
  width:1px;
  height:1px;
}
#u11625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u11625 {
  position:absolute;
  left:246px;
  top:445px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11626 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u11625_ann {
  position:absolute;
  left:290px;
  top:441px;
  width:1px;
  height:1px;
}
#u11627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11627 {
  position:absolute;
  left:186px;
  top:445px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11628 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u11629 {
  position:absolute;
  left:255px;
  top:466px;
  width:115px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11630 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u11629_ann {
  position:absolute;
  left:363px;
  top:462px;
  width:1px;
  height:1px;
}
#u11631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11631 {
  position:absolute;
  left:186px;
  top:465px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u11632 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11634 {
  position:absolute;
  left:58px;
  top:492px;
  width:375px;
  height:100px;
}
#u11635 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u11636 {
  position:absolute;
  left:69px;
  top:503px;
  width:105px;
  height:80px;
}
#u11637 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11636_ann {
  position:absolute;
  left:167px;
  top:499px;
  width:1px;
  height:1px;
}
#u11638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11638 {
  position:absolute;
  left:187px;
  top:502px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11639 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u11638_ann {
  position:absolute;
  left:295px;
  top:498px;
  width:1px;
  height:1px;
}
#u11640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u11640 {
  position:absolute;
  left:187px;
  top:522px;
  width:204px;
  height:16px;
  font-size:13px;
}
#u11641 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u11640_ann {
  position:absolute;
  left:384px;
  top:518px;
  width:1px;
  height:1px;
}
#u11642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u11642 {
  position:absolute;
  left:246px;
  top:544px;
  width:51px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11643 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u11642_ann {
  position:absolute;
  left:290px;
  top:540px;
  width:1px;
  height:1px;
}
#u11644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11644 {
  position:absolute;
  left:186px;
  top:544px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11645 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u11646 {
  position:absolute;
  left:255px;
  top:565px;
  width:115px;
  height:15px;
  font-size:14px;
  line-height:normal;
}
#u11647 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u11646_ann {
  position:absolute;
  left:363px;
  top:561px;
  width:1px;
  height:1px;
}
#u11648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11648 {
  position:absolute;
  left:186px;
  top:564px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u11649 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
